section.Poets {
  position: relative;
  z-index: 1;
  margin-top: 25px;
  user-select: none !important;

  .sec_container {
    margin-bottom: 34px;
    background-color: #e6ddc633;
    background-image: url("../../assets/texture.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left;
    border-radius: 10px;
    padding: 24px 40px 24px 40px;

    @media screen and (max-width: 450px) {
      padding: 24px 0px 24px 20px;
    }
    .sec_title {
      margin-bottom: 24px;
      h3 {
      }
    }

    .tags_slider {
      .box_container {
        width: 120px;
        height: 141px;
        user-select: none !important;

        .box {
          transition: all 0.3s ease-in-out;
          user-select: none !important;

          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 8px;
          border-radius: 10px;
          border: 1px solid transparent;

          @media screen and (max-width: 450px) {
            margin-bottom: 10px;
            padding: 0;
          }
          &:hover {
            @media screen and (min-width: 992px) {
              border: 1px solid var(--main-beige-color);
              background-color: var(--main-white-color) !important;
            }
          }

          .img_container {
            width: 65px;
            height: 65px;
            display: flex;
            border: 8px solid #ffff;
            border-radius: 32px;
            position: relative;
            z-index: 1;
            background-color: #e6ddc633;
            img {
              margin: auto;
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }

          .name {
            margin-top: 12px;
            @media screen and (max-width: 650px) {
              margin-top: 14px;
            }
            p {
              color: var(--main-blue-color);
              font-family: var(--effra-font);
              font-size: 16px;
              font-weight: var(--effra-bold);
            }
          }

          @media screen and (max-width: 650px) {
            width: 87px;
            height: 110px;
            padding: 12.98px;
            font-size: 11.68px;
          }
        }
      }

      a.active {
        button {
          background-color: var(--main-red-color);
          color: var(--main-white-color);
          position: relative;
        }
      }
    }
  }
}
