section.Verses {
  .sec_container {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 992px) {
      flex-direction: column-reverse;
    }
    .info_sec {
      background-color: #ffffff;
      border-radius: 10px;
      padding: 40px;
      box-shadow: 0px 21px 35px 0px #00000008;

      @media screen and (max-width: 992px) {
        padding: 22px;
      }

      .sec_title {
        h3 {
        }
      }
      .boxes_container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 20px;
        position: relative;

        @media screen and (max-width: 992px) {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(2, 1fr);
          grid-column-gap: 10px;
          grid-row-gap: 20px;
          grid-auto-flow: dense;
          overflow: hidden;
        }

        @media screen and (max-width: 992px) {
          .box:nth-child(-n + 5) {
            grid-column: span 1;
            grid-row: span 1;
          }
          .box:nth-child(n + 5) {
            grid-column: span 2;
          }
        }

        @media screen and (min-width: 992px) {
          &:after {
            content: "";
            position: absolute;
            top: 50%;
            height: 50%;
            left: 0;
            right: 0;
            background: #e5e6f2;

            transform: translateY(-50%);
            width: 100%;
            height: 2px;

            @media screen and (max-width: 450px) {
              display: none;
            }
          }
        }
        .box {
          position: relative;
          padding-right: 12px;
          margin-top: 20px;
          &:not(:last-child) {
            @media screen and (max-width: 992px) {
              padding-bottom: 16px !important;
              &:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                background: #e5e6f2;
                width: 116%;
                height: 2px;
              }
            }
          }
          &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            z-index: 22;
            background-color: #e5e6f2;
            width: 1px;
            height: 90%;
          }

          .title {
            margin-bottom: 10px;
            p {
              font-family: var(--effra-font);
              font-size: 14px;
              font-weight: 400;
              line-height: 27px;
              letter-spacing: 0em;
              text-align: right;
              color: #707f82;
            }
          }
          .name {
            p {
              font-family: var(--effra-font);
              font-size: 14px;
              font-weight: 700;
              letter-spacing: 0em;
              text-align: right;
            }
          }
        }
      }
    }
    .sec_title {
      margin-top: 40px;
    }

    .slider_sec {
      margin-top: 24px;
      margin-bottom: 50px;

      @media screen and (max-width: 992px) {
      }

      .box {
        display: flex;
        .box_container {
          margin: auto;
          width: 397px;
          height: 319px;
          padding: 24px;
          border-radius: 10px;
          background-color: #ffffff;

          display: flex;
          flex-direction: column;

          @media screen and (max-width: 992px) {
            width: 250px;
          }

          .info {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            .img_container {
              width: 55px;
              height: 55px;
              display: flex;
              border: 8px solid white;
              border-radius: 32px;
              position: relative;
              z-index: 1;
              background-color: rgba(230, 221, 198, 0.2);
              margin-left: 12px;
              img {
                object-fit: contain;
                width: 100%;
                height: 100%;
              }
            }

            .text_container {
              margin-bottom: 16px;
              .name {
                margin-bottom: 4px;
                p {
                  font-family: var(--effra-font);
                  font-size: 16px;
                  font-weight: 500;
                  line-height: 19px;
                  letter-spacing: 0px;
                }
              }
              .type {
                p {
                  padding: 2.5px 8px 2.5px 8px;
                  border-radius: 16px;
                  background: #bb71651a;

                  font-family: var(--effra-font);
                  font-size: 12px;
                  font-weight: 400;
                  line-height: 14px;
                  letter-spacing: 0px;
                  color: #bb7165;
                  text-align: center;
                }
              }
            }
          }

          .desc {
            p {
              font-family: var(--effra-font);
              font-size: 16px;
              font-weight: 400;
              letter-spacing: 0px;
              color: #707f82;
            }
          }
          .said {
            margin-top: auto;
            .title {
              margin-bottom: 23px;
              p {
                font-family: var(--effra-font);
                font-size: 14px;
                font-weight: 400;
                line-height: 14px;
                letter-spacing: 0px;
                text-align: center;
                position: relative;
                color: #707f82;
                &::before,
                &::after {
                  content: "";
                  position: absolute;
                  top: 50%;
                  width: 100px;
                  height: 1px;
                  background-color: #e5e6f2; /* Adjust the color as needed */
                }

                &::before {
                  left: 50px;

                  @media screen and (max-width: 992px) {
                    left: -24px;
                  }
                }

                &::after {
                  right: 50px;

                  @media screen and (max-width: 992px) {
                    right: -24px;
                  }
                }
              }
            }

            .desc {
              p {
                font-family: var(--effra-font);
                font-size: 16px;
                font-weight: 700;
                line-height: 19px;
                letter-spacing: 0px;
                text-align: center !important ;
                color: var(--main-blue-color) !important;
              }
            }
          }
        }
      }
    }
  }
}
