section.PoetryIn {
  .sec_container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .text_container {
      max-width: 501.28px;
      .sec_title {
        margin-bottom: 10px;
        h3 {
        }
      }
      .sec_info {
        margin-bottom: 10px;
        p {
          font-family: var(--effra-font);
          font-size: 16px;
          font-weight: 400;
          line-height: 30px;
          letter-spacing: 0em;
          text-align: right;

          &:not(:last-child) {
            margin-bottom: 24px;
          }
        }
      }

      .more_btn {
        margin-top: 10px;
        margin-bottom: 24px;
        button {
          background-color: transparent;
          border: none;

          font-family: var(--effra-font);
          font-size: 16px;
          font-weight: 700;
          line-height: 30px;
          letter-spacing: 0em;
          text-align: right;
          color: var(--main-red-color);
          text-decoration: underline;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}
