section.LiteraryEras {
  margin-top: 25px;
  // background-color: #e6ddc657;
  padding-top: 26px;
  border-radius: 79px 0px 0px 0px;
  background-image: url("../../assets/texture.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left;

  @media screen and (max-width: 450px) {
    padding-top: 16px;
  }
  position: relative;
  z-index: 222;
  top: 14px;

  .sec_container {
    position: relative;

    .sec_title {
      margin-bottom: 24px;
      h3 {
      }
    }

    .tags_slider {
      a {
        button {
          transition: all 0.3s ease-in-out;
          background-color: var(--main-beige-color);
          width: 235px;
          height: 74px;
          border-radius: 50px;

          color: var(--main-blue-color);
          font-size: 18px;
          font-family: var(--effra-font);
          font-weight: var(--effra-re);
          margin-bottom: 30px;
          &:hover {
            @media screen and (min-width: 992px) {
              background-color: var(--main-red-color);
              color: var(--main-white-color);
            }
          }

          @media screen and (max-width: 650px) {
            width: 116.4px;
            height: 47.96px;
            padding: 12.98px;
            font-size: 11.68px;
          }
        }
      }

      a.active {
        button {
          background-color: var(--main-red-color);
          color: var(--main-white-color);
          position: relative;
          &:after {
            content: "";
            position: absolute;
            transform: rotate(45deg);

            bottom: -11px;
            left: 46%;
            width: 24.89px;
            height: 24.89px;
            border-radius: 0 0 0 3.56px;
            background-color: var(--main-red-color);

            @media screen and (max-width: 650px) {
              bottom: -7px;
              left: 46%;
              width: 14.89px;
              height: 14.89px;
            }
          }
          &:before {
            content: "";
            position: absolute;
            rotate: (135deg);
            bottom: -53px;
            left: 46%;
            width: 24.89px;
            height: 24.89px;
            border-radius: 0px, 0px, 0px, 3.56px;
            // background-color: #ffffff;

            background: linear-gradient(45deg, transparent 50%, #ffffff 50%);
            border-radius: 0 0 0 3.56px;
            @media screen and (max-width: 650px) {
              bottom: -48px;
              left: 46%;
              width: 14.89px;
              height: 14.89px;
            }
          }
        }
      }
    }
  }
}
