:root {
  --effra-font: __Effra_7d295b, __Effra_Fallback_7d295b;
  --effra-re: 400;
  --effra-Md: 500;
  --effra-bold: 700;

  --main-beige-color: #e6ddc6;
  --main-white-color: #f6f8fc;
  --main-sec-color: #ffffff;
  --main-red-color: #bb7165;
  --main-blue-color: #11292f;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #f6f8fc;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #f6f8fc;
}

a {
  color: inherit;
  text-decoration: none;
}

// global styles
section {
  h3 {
    margin-bottom: 24px;
    font-family: var(--effra-font) !important;
    font-size: 20px !important;
    font-weight: 700 !important;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: right;
  }
}

// Carosuel Styles
#LiteraryEras,
#Poets,
#Verses {
  user-select: none !important;
  .rtl.react-multiple-carousel__arrow--right {
    left: 0 !important;
  }

  .react-multiple-carousel__arrow--left {
    right: 0 !important;
  }

  .react-multiple-carousel__arrow--left,
  .rtl.react-multiple-carousel__arrow--right {
    @media screen and (max-width: 992px) {
      display: none;
    }
  }
}

#LiteraryEras {
  .react-multi-carousel-list {
    overflow: unset !important;
  }
}
#Verses {
  .react-multi-carousel-track {
    position: relative;
  }

  .react-multi-carousel-dot-list {
    bottom: unset !important;
    margin-top: 20px;
    @media screen and (min-width: 992px) {
      display: none !important;
    }

    li {
      button {
      }
    }
  }

  .react-multi-carousel-dot--active button {
    background: var(--main-blue-color) !important;
    border-color: #bb7165 !important;
  }
}

#Poets {
  .gbbKCs {
    margin: 10px !important;
  }
}

#Poets .rec .main_btn {
  top: 25% !important;
}

// global scrollbar
body {
  scrollbar-width: thin;
}

body::-webkit-scrollbar {
  width: 13px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--main-blue-color) !important;
  border-radius: 0px;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 0px;
}

//  custom scrollbar
.tools {
  overflow: auto;
  scrollbar-width: thin; /* Enable custom scrollbars in Firefox */
}
.tools::-webkit-scrollbar {
  width: 6px; /* Adjust the width as needed */
}

.tools::-webkit-scrollbar-thumb {
  background-color: #979bb6; /* Change the background color */
  border-radius: 5px; /* Add rounded corners */
}

.tools::-webkit-scrollbar-track {
  // background: #f6f8fc !important;
  background-color: #b2b3b661 !important;
  border-radius: 5px;
}

// MUI override classes
.disable_container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.disable_container_mobile {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

// Map styles
.tools {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
  button {
    margin: 5px;
    padding: 12px;
    background-color: var(--main-beige-color);
    color: var(--main-blue-color);
    cursor: pointer;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 22px;
  }
}

#map {
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

#map-boxes {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  @media screen and (max-width: 992px) {
    flex-direction: column;
  }

  .tools {
    width: 501px;
    max-height: 300px;
    overflow-y: auto;
    margin-top: 23px;
    padding-left: 10px;

    .box {
      transition: all 0.3s ease-in-out;
      display: flex;
      align-items: center;
      width: 100%;
      height: 56px !important;
      cursor: pointer;
      border-radius: 10px 0px 0px 10px;
      margin-bottom: 5px;
      padding-right: 30px;

      .img_container {
        margin-left: 10px;
        width: 44px;
        height: 37px;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .name {
        p {
          font-family: var(--effra-font);
          font-size: 20px;
          font-weight: var(--effra-Md);
          color: var(--main-blue-color);
        }
      }

      &:hover {
        background-color: #faf4f3;
      }
    }

    .box.active {
      background-color: #faf4f3;
      border-right: 3px solid var(--main-red-color);
      height: 100%;

      .name {
        p {
          color: var(--main-red-color);
        }
      }
    }
  }
}

.react-transform-wrapper {
  width: 695.43px !important;
  margin-top: -200px !important;

  @media screen and (max-width: 450px) {
    border: 1px solid var(--main-blue-color);
    border-radius: 5px;
  }

  @media screen and (max-width: 992px) {
    margin-top: 0px !important;
    width: 100% !important;
    margin-top: 24px !important;
    margin-bottom: 24px !important;
  }

  svg {
    width: 100%;
    height: 100%;
  }
}

.city-name {
  -webkit-transition: -webkit-transform 0.3s ease-in-out !important;
  transition: -webkit-transform 0.3s ease-in-out !important;
  -o-transition: transform 0.3s ease-in-out !important;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out !important;
  transition: transform 0.3s ease-in-out !important;
  -webkit-transform: translateY(0px) !important;
  -ms-transform: translateY(0px) !important;
  transform: translateY(0px) !important;

  z-index: auto;
  cursor: pointer;
  opacity: 1;
}
.city-name:hover {
  -webkit-transform: translateY(-5px) !important;
  -ms-transform: translateY(-5px) !important;
  transform: translateY(-5px) !important;
}

.land {
  stroke-dasharray: none;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  path {
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
}
.land.activeLand {
  path {
    stroke-width: 2 !important;
    stroke: #ffffff !important;
  }
}

.hiddenPoints {
  path {
    @media screen and (max-width: 450px) {
      display: none !important;
    }
  }
  .city-name {
    opacity: 0 !important;
  }
}

.land {
  path {
    -webkit-transition: stroke 0.5s ease-in-out !important;
    -o-transition: stroke 0.5s ease-in-out !important;
    transition: stroke 0.5s ease-in-out !important;
  }
  &:hover {
    path {
      stroke-width: 2 !important;
      stroke: #ffffff !important;
    }
  }
}
.land:nth-child(1) {
  &:hover {
    -webkit-transform: scale(1.02) translate(-1%, -2%) !important;
    -ms-transform: scale(1.02) translate(-1%, -2%) !important;
    transform: scale(1.02) translate(-1%, -2%) !important;
  }
}

.land:nth-child(2) {
  &:hover {
    -webkit-transform: scale(1.02) translate(-1%, -2%) !important;
    -ms-transform: scale(1.02) translate(-1%, -2%) !important;
    transform: scale(1.02) translate(-1%, -2%) !important;
  }
}

.land:nth-child(3) {
  &:hover {
    -webkit-transform: scale(1.02) translate(-1%, -2%) !important;
    -ms-transform: scale(1.02) translate(-1%, -2%) !important;
    transform: scale(1.02) translate(-1%, -2%) !important;
  }
}
.land:nth-child(4) {
  &:hover {
    -webkit-transform: scale(1.02) translate(-1%, -2%) !important;
    -ms-transform: scale(1.02) translate(-1%, -2%) !important;
    transform: scale(1.02) translate(-1%, -2%) !important;
  }
}
.land:nth-child(5) {
  &:hover {
    -webkit-transform: scale(1.02) translate(-1%, -2%) !important;
    -ms-transform: scale(1.02) translate(-1%, -2%) !important;
    transform: scale(1.02) translate(-1%, -2%) !important;
  }
}
.land:nth-child(6) {
  &:hover {
    -webkit-transform: scale(1.02) translate(-1%, -2%) !important;
    -ms-transform: scale(1.02) translate(-1%, -2%) !important;
    transform: scale(1.02) translate(-1%, -2%) !important;
  }
}
.land:nth-child(7) {
  &:hover {
    // transform: scale(1.02) translateX(0) translateY(-0) !important;
    -webkit-transform: scale(1) translate(-2px, -11px) !important ;
    -ms-transform: scale(1) translate(-2px, -11px) !important ;
    transform: scale(1) translate(-2px, -11px) !important ;
  }
}
.land:nth-child(8) {
  &:hover {
    -webkit-transform: scale(1.02) translate(-1%, -2%) !important;
    -ms-transform: scale(1.02) translate(-1%, -2%) !important;
    transform: scale(1.02) translate(-1%, -2%) !important;
  }
}
.land:nth-child(9) {
  &:hover {
    -webkit-transform: scale(1.02) translate(-1%, -2%) !important;
    -ms-transform: scale(1.02) translate(-1%, -2%) !important;
    transform: scale(1.02) translate(-1%, -2%) !important;
  }
}
.land:nth-child(10) {
  &:hover {
    -webkit-transform: scale(1.02) translate(-7px, -14px) !important;
    -ms-transform: scale(1.02) translate(-7px, -14px) !important;
    transform: scale(1.02) translate(-7px, -14px) !important;
  }
}
.land:nth-child(11) {
  &:hover {
    -webkit-transform: scale(1.02) translate(-1px, -1px) !important;
    -ms-transform: scale(1.02) translate(-1px, -1px) !important;
    transform: scale(1.02) translate(-1px, -1px) !important;
  }
}
.land:nth-child(12) {
  &:hover {
    -webkit-transform: scale(1.02) translate(-1%, -2%) !important;
    -ms-transform: scale(1.02) translate(-1%, -2%) !important;
    transform: scale(1.02) translate(-1%, -2%) !important;
  }
}
.land:nth-child(13) {
  &:hover {
    -webkit-transform: scale(1.02) translate(-1%, -2%) !important;
    -ms-transform: scale(1.02) translate(-1%, -2%) !important;
    transform: scale(1.02) translate(-1%, -2%) !important;
  }
}

.land.activeLand:nth-child(1) {
  -webkit-transform: scale(1.02) translate(-1%, -2%) !important;
  -ms-transform: scale(1.02) translate(-1%, -2%) !important;
  transform: scale(1.02) translate(-1%, -2%) !important;
}
.land.activeLand:nth-child(2) {
  -webkit-transform: scale(1.02) translate(-1%, -2%) !important;
  -ms-transform: scale(1.02) translate(-1%, -2%) !important;
  transform: scale(1.02) translate(-1%, -2%) !important;
}
.land.activeLand:nth-child(3) {
  -webkit-transform: scale(1.02) translate(-6px, -11px) !important;
  -ms-transform: scale(1.02) translate(-6px, -11px) !important;
  transform: scale(1.02) translate(-6px, -11px) !important;
}
.land.activeLand:nth-child(4) {
  -webkit-transform: scale(1.02) translate(-5px, -11px) !important;
  -ms-transform: scale(1.02) translate(-5px, -11px) !important;
  transform: scale(1.02) translate(-5px, -11px) !important;
}
.land.activeLand:nth-child(5) {
  -webkit-transform: scale(1.02) translate(-1%, -2%) !important;
  -ms-transform: scale(1.02) translate(-1%, -2%) !important;
  transform: scale(1.02) translate(-1%, -2%) !important;
}
.land.activeLand:nth-child(6) {
  -webkit-transform: scale(1.02) translate(-1%, -2%) !important;
  -ms-transform: scale(1.02) translate(-1%, -2%) !important;
  transform: scale(1.02) translate(-1%, -2%) !important;
}
.land.activeLand:nth-child(7) {
  -webkit-transform: scale(1.02) translateX(-8px) translateY(-20px) !important;
  -ms-transform: scale(1.02) translateX(-8px) translateY(-20px) !important;
  transform: scale(1.02) translateX(-8px) translateY(-20px) !important;
}
.land.activeLand:nth-child(8) {
  -webkit-transform: scale(1.02) translate(-1%, -2%) !important;
  -ms-transform: scale(1.02) translate(-1%, -2%) !important;
  transform: scale(1.02) translate(-1%, -2%) !important;
}
.land.activeLand:nth-child(9) {
  -webkit-transform: scale(1.02) translate(-1%, -2%) !important;
  -ms-transform: scale(1.02) translate(-1%, -2%) !important;
  transform: scale(1.02) translate(-1%, -2%) !important;
}
.land.activeLand:nth-child(10) {
  -webkit-transform: scale(1.2) translate(-66px, -119px) !important;
  -ms-transform: scale(1.2) translate(-66px, -119px) !important;
  transform: scale(1.2) translate(-66px, -119px) !important;
}
.land.activeLand:nth-child(11) {
  -webkit-transform: scale(1.02) translate(-7px, -14px) !important;
  -ms-transform: scale(1.02) translate(-7px, -14px) !important;
  transform: scale(1.02) translate(-7px, -14px) !important;
}
.land.activeLand:nth-child(12) {
  -webkit-transform: scale(1.02) translate(-1%, -2%) !important;
  -ms-transform: scale(1.02) translate(-1%, -2%) !important;
  transform: scale(1.02) translate(-1%, -2%) !important;
}
.land.activeLand:nth-child(13) {
  -webkit-transform: scale(1.02) translate(-1%, -2%) !important;
  -ms-transform: scale(1.02) translate(-1%, -2%) !important;
  transform: scale(1.02) translate(-1%, -2%) !important;
}

.land:hover,
.land:focus {
  stroke-width: 0.5;
  stroke-miterlimit: 3.97446823;

  z-index: 222 !important;
}

// .animate:nth-child(1),
// .animate:nth-child(2),
// .animate:nth-child(3),
// .animate:nth-child(4),
// .animate:nth-child(5),
// .animate:nth-child(6),
// .animate:nth-child(7),
// .animate:nth-child(8),
// .animate:nth-child(9),
// .animate:nth-child(10),
// .animate:nth-child(11),
// .animate:nth-child(12),
// .animate:nth-child(13) {
//   -webkit-transform: translateX(0) translateY(0) !important;
//   -ms-transform: translateX(0) translateY(0) !important;
//   transform: translateX(0) translateY(0) !important;
// }

foreignObject {
  overflow: unset !important;
}
.city-container {
  overflow: unset !important;
}
.city-name {
  background: #fff;
  color: #bb7165;
  font-size: 16px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 2px 11px;
  border-radius: 35px;
  cursor: pointer;
  font-family: var(--effra-font) !important;
}

.city-name svg {
  top: 94%;
  position: absolute;
  height: 10.33px;
  width: 29.22px;
  top: 0;
}
